<div class="main-wrapper">

  <div class="header overflow-auto">
    <div class="float-left">
      <h1 class="main-heading">Your Turn: Vocabulary</h1>
    </div>
    <div class="float-right">
      <button class="help-button">?</button>
      <button class="close-button">X</button>
    </div>
  </div>
  <app-mcq (messageEvent)="receiveMessage($event)" (vaultAnimData)="receiveAnimData($event)"></app-mcq>
  <app-vault (rotationComplete)="rotationStatus($event)"></app-vault>
  <div class="footer">
    <div class="footer-elements" #footerRounds>
      <div class="round-incomplete"></div>
      <div class="round-incomplete"></div>
      <div class="round-incomplete"></div>
    </div>
  </div>


</div>