.header{
    border-bottom: 2px solid #111;
    padding: 20px;
    .main-heading{
        font-size: 20px;
        margin: 0 !important;
    }
    .help-button{
        margin-right:5px;
    }
}
.footer{
    background-color: #ed1c24;
    height: 48px;
    border-top: 5px solid #fabf0f;
    .footer-elements{
        text-align: center;
        padding-top:14px;
        div{
            display: inline-block;
        }
        .round-incomplete{
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 10px;
            margin:5px;
        }
        .current-round{
            width: 15px;
            height: 15px;
            background-color: #fabf0f;
            border-radius: 10px;
            margin:5px;
        }
    }
  
}