<div class="main-wrapper">

  <div class="header overflow-auto">
    <div class="float-left">
      <h1 class="main-heading">Your Turn: Vocabulary</h1>
    </div>
    <div class="float-right">
      <button class="help-button">?</button>
      <button class="close-button">X</button>
    </div>
  </div>
  <app-mcq></app-mcq>
  <app-vault></app-vault>
  <div class="footer">
    <div class="footer-elements">
      <div class="current-round"></div>
      <div class="round-incomplete"></div>
      <div class="round-incomplete"></div>
    </div>
  </div>


</div>