.header{
    padding: 13px 20px;
    background-color: #ed1c24;
    border-bottom: 5px solid #fabf0f;
    .main-heading{
        font-size: 20px;
        margin: 6px !important;
    }
    button:hover{
        background-color: rgb(6, 10, 63)
    }
    .help-button, .close-button{
        margin-right:5px;
        border-radius: 44px;
        height: 35px;
        width: 35px;
        border:2px solid #fff;
        background-color: #2475e8;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        padding-top:2px;
    }
    .close-button{
        margin-left: 5px;
    }
    .nav-button{
        text-align: center;
    }
}
.footer{
    background-color: #ed1c24;
    // height: 48px;
    border-top: 5px solid #fabf0f;
    .footer-elements{
        text-align: center;
        padding-top:14px;
        padding-bottom: 3px;
        div{
            display: inline-block;
        }
        .round-incomplete{
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 10px;
            margin:5px;
        }
        .current-round{
            width: 15px;
            height: 15px;
            background-color: #fabf0f;
            border-radius: 10px;
            margin:5px;
        }
    }
  
}

