.body-wrapper{
    height:560px;
    background-color: #a7aaac;
    .body-header{
        margin-left: 20px;
        button{
            border-radius: 50px;
            width: 30px;
            height: 30px;
        }
        h2{
            display: inline-block;
            width: 90%;
            margin-left: 12px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .question-text{
        padding: 20px;
        border: 5px solid #646464;
        margin: 10px 26px;
        span{
            font-size: 17px;
        }
    }
    .option-container{    
        float: right;
        margin-top: 4px;
        // background-color: gold;
        margin-right: 26px;
        .each-option{
            width: 300px;
            padding: 10px 10px 10px 52px;
            background-color: #fff;
            border: 1px solid #111;
            border-radius: 54px;
            font-size: 16px;
            margin: 15px auto;
            position: relative;
            cursor: pointer;
            button{
                width: 50px;
                height: 50px;
                position: absolute;
                border-radius: 30px;
                border: 1px solid #111;
                top: -6px;
                left: -4px;
                background-color:#ededed;
                cursor: pointer;
                i{
                    color: #2b8de7;
                    font-size: 20px;
                }
               }
               button:focus{
                   outline:none;
               }
        }
        .submit-portion{  
            text-align: right;
            margin-top: 65px;
            margin-right: 18px;
            button{
                cursor: pointer;
            }
            button:focus{
                outline: none;
            }
            .reset-button{
                margin-right: 20px;
                padding: 5px 10px;
                border-radius: 17px;
                border: 1px solid #111;
            }
            .ok-button{
                margin-right: 20px;
                padding: 5px 21px;
                border-radius: 17px;
                border: 1px solid #111;
            }
        }
    }
}